div {
  font-family: 'Courier New', Courier, monospace;
}
h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
}